---
layout: handbook-page-toc
title: "Contracts, Probation Periods & PIAA"
description: "GitLab contract information and associated procedures."
---

## On this page

{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

This page contains GitLab's Team Member contract templates.
The DRI for all GitLab Team Member contracts are the [People Operations Specialist team](https://about.gitlab.com/job-families/people-ops/people-operations/). Any changes to any contracts should be requested to the People Operations Specialist team and will require approval from our Director of Legal, Employment.

## Employment and Contractor Agreements

The following contracts are for reference only and are viewable by anyone in GitLab.

### United States

- [GitLab Inc., employee offer letter without OTE](https://docs.google.com/document/d/1ffAId_syWQ06xGFNH71QlLqX6MZungo_uiRo5APOqlk/edit?usp=sharing)
- [GitLab Inc., employee offer letter with OTE](https://docs.google.com/document/d/1mZcPKeYdTIN0S3JS8i-mo70xqUbm_UScKLVlSNGmLUo/edit?usp=sharing)
- [GitLab Inc., employee offer letter with director bonus](https://docs.google.com/document/d/1gPqbwDyU89D0spyvbZvDfD_qwpOUx7Op5Eu4Gaqcvpo/edit?usp=sharing)
- [GitLab Inc., employee offer letter with signing and director bonus](https://docs.google.com/document/d/1rPPlxNsyyCKrtpIIaBCAsrdhSRvLzlElm2lZYCDgO2o/edit?usp=sharing)
- [GitLab Inc., employee offer letter with signing bonus](https://docs.google.com/document/d/1pw9aWXUMxp5cvPF4H7JO3NlWUwLGwDPFmw-r1QgZBhk/edit?usp=sharing)
- [GitLab Inc., part time employee offer letter](https://docs.google.com/document/d/1ZFMuHDwTt-c-oUbfIS-fUD9qeg20wgHUKXXu3L746VU/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter without clearance, without OTE](https://docs.google.com/document/d/1wfeZp4hebCBzRSqGLbkoqMYNJLwqSzYjeVp5EvQH35Y/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter without clearance, with OTE](https://docs.google.com/document/d/1lxA_gedTHS9Y_I-i5edd74lPm8LFyW9q_phRpGycKEg/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter with clearance, with OTE](https://docs.google.com/document/d/1cd8UDjl2sH8fARJGyoZnBFQRE1ACe7muLZd7i1s8jYs/edit?usp=sharing)

### Belgium

- [GitLab BV Belgium, Dutch & English employee contract without OTE (Non-Sales, Position of Trust)](https://docs.google.com/document/d/11qXqEWb1RkPTR9GG7dB9Mc6_2Pj9F7ciEIPokBq60j4/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract without OTE (Non-Sales, Not a Position of Trust)](https://docs.google.com/document/d/1ddgDuiHBhYGAdr7ckacKq3tPd5IroPKbfFBSYZ9SBIw/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Non-sales, Position of Trust)](https://docs.google.com/document/d/1X1Mq1dppLKodgc3F0RloDh70JPsP-uHRJffB_Ej-RI8/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Non-Sales, Not a Position of Trust)](https://docs.google.com/document/d/1kiBpwdWHQ43lwyWGf6oKtU3Nz2LUXQAAYE9Gw4PB46I/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Sales, Position of Trust)](https://docs.google.com/document/d/1RAcOFsbjSH89oQKZzPM-r0aRPGWEVcAGt50d8NM0AyQ/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Sales, Not a Position of Trust)](https://docs.google.com/document/d/1Ek2FSEy2UWv4ASK7bJEOo2CSnsSc--OBv4YtaBnNZpQ/edit?usp=sharing)

### Netherlands

_**For team members legally able to work and live in the Netherlands, we should use the GitLab BV contract template. PEO contract templates should be provided by the PEO directly. We should not use GitLab BV or GitLab IT BV contracts for PEO models.**_

- [GitLab BV, Netherlands temporary employee no OTE](https://docs.google.com/document/d/1gRDvTrhnZrSSTd3Yi-2mNh_0VDT1P5ofGH6Vp6RRIhY/edit?usp=sharing)
- [Gitlab BV, Netherlands temporary employee w/ OTE](https://docs.google.com/document/d/11qvaBWgHqKpj8X6S8aPJc2FRTxth-ZnOQ6M4fssJQNQ/edit?usp=sharing)
- [GitLab BV, Netherlands indefinite employee](https://docs.google.com/document/d/1o1QzHDJqlOe2hMXluBy5lefqDuFSHSwB5kllYCDDG24/edit?usp=sharing)

### Germany

- [GitLab GmbH, employment agreement without OTE](https://docs.google.com/document/d/1gYH3SzKjTuXzlW037icgKrGRM3dhIusqyD96cIjS8JA/edit?usp=sharing)
- [GitLab GmbH, employment agreement with OTE](https://docs.google.com/document/d/1zp_4yDo22xMDLBV9GZcc5K9MiwiS1rECCvY2QgKOAuQ/edit?usp=sharing)

All German contracts are required to have wet signatures. Please note that these contracts will need to be mailed to both the signatory and the team member for signatures.

### Australia

- [GitLab PTY Ltd, Australia, without OTE](https://docs.google.com/document/d/13eZt7XYqRH50SJSeItCHWdLUsQJKIImMietYYC2EaDg/edit?usp=sharing)
- [GitLab PTY Ltd, Australia, with OTE](https://docs.google.com/document/d/1lFwPmasTjn8U9MfCPDK6_MApF7f9wJ9FIGZYfLj8kfQ/edit?usp=sharing)

### New Zealand (subsidary of GitLab PTY Ltd, Australia)

- [GitLab PTY Ltd, Australia, without OTE](https://docs.google.com/document/d/1TWrlDF9geNZGfuQ7FK1UUh17mM9ocqP7saQjDM8NN2U/edit#)
- [GitLab PTY Ltd, Australia, with OTE](https://docs.google.com/document/d/1lO4T32nK2tZEUZQ6_sLEmg1gIhYNaJSwExzzMVrV2vI/edit)
As of 1 July 2020, all team members in New Zealand will be employees of GitLab LTD Pty, the Australian entity.
New Zealand new hires should use this New Zealand contract, which is governed by New Zealand law, even though the employer is an Australian entity.

### United Kingdom

- [GitLab UK Ltd, without OTE](https://docs.google.com/document/d/1hIfMDgMBpN8QVbddsy45Eb_vhdC8j1ujq_SaPOKZVi0/edit?usp=sharing)
- [GitLab UK Ltd, with OTE](https://docs.google.com/document/d/1GAI4iMQRxyJiOmXmhtDoMMqKFtWBPtpNpCNLqLsqR3k/edit?usp=sharing)

### Canada

- [GitLab Canada Corp, All Provinces except Quebec, employment agreement without OTE](https://docs.google.com/document/d/1A6sHEU_G5IhyXPvJ9H312Dl9N2gq_cIvBZg1ngHa3G0/edit?usp=sharing)
- [GitLab Canada Corp, All Provinces except Quebec, employment agreement with OTE](https://docs.google.com/document/d/12V0dC8eKcIdHi2lKKf3FFIgdmb_NQy2S0N8N838UbBE/edit?usp=sharing)
- [GitLab Canada Corp, Quebec only, employment agreement without OTE](https://docs.google.com/document/d/1mcGP28KalDu51FGBpEAnFFJOMoNEGhd6TDDyQAqATpE/edit?usp=sharing)
- [GitLab Canada Corp, Quebec only, employment agreement with OTE](https://docs.google.com/document/d/1d3fCKze8jgRcUS7VAdEkCGUPTQlDbymioH9tkvAceic/edit?usp=sharing)

### Japan

- [GitLab GK employment agreement without OTE](https://docs.google.com/document/d/1CUMEODp-W0-ICQ76SREoJZcV6C6S4hywkCPKvihqRHc/edit?usp=sharing)
- [GitLab GK employment agreement with OTE](https://docs.google.com/document/d/1Wc-s8DQ2HS4aP-uzikevW_KERU2r5vanb4TnHdjNmow/edit?usp=sharing)

### Ireland 

[GitLab Ireland Ltd. without OTI](https://docs.google.com/document/d/1PcuUZ235HvmpIqh32NuLDfWSjEXSyF-ft38bb1uuXSA/edit?ts=606c674c#)
[GitLab Ireland Ltd. with OTI](https://docs.google.com/document/d/1R_vvXJ1b-4MkBmot0I3LtUl3urUZxlOJiZ2Z4yzUSzo/edit?ts=606c6759#) 

### Singapore

- [Singapore OTE](https://docs.google.com/document/d/1gUjknqbANrHhBpUNXRJRUJKjHLxDrrRI2pLwn-ayAx0/edit) 
- [Singapore w/out OTE](https://docs.google.com/document/d/1-N3IaeHXM6g5-wYMR7E47xJEmeOVXlB58UUyOER6ZMc/edit)

### Other

_**Locations where we do not have an entity or Professional Employer Organisation or for anyone hired under [Meltano](https://meltano.com/), GitLab IT BV contractor agreements should _always_ be used.**_
Kindly keep in mind that if you were hired under a GitLab IT BV or GitLab BV Contractor agreement, that we are continuously working towards a Scalable Employment Solution in these locations, and your contract will therefore change in future:

- [GitLab IT BV, contractor agreement - C2C without OTE](https://docs.google.com/document/d/1nmm0kPzsSjqrNWUloRD6ign63C7pN7M8zFXjXdjxo20/edit?usp=sharing)
- [GitLab IT BV, contractor agreement - C2C with OTE](https://docs.google.com/document/d/1BE4vyF6SEI3I81KPl_DOuIQ0FBxpk20hr-ERv4WnoO4/edit?usp=sharing)
- [GitLab IT BV, contractor agreement - Independent without OTE](https://docs.google.com/document/d/1Il_SeuxfWFfxwl4udJNC41QotFS18v-t-WXPQ_MbrzM/edit?usp=sharing)
- [GitLab IT BV, contractor agreement - Independent with OTE](https://docs.google.com/document/d/1rkm13DH-xbuNtDafHNE2qcnplye28q5fKVJ5IMIEZXY/edit?usp=sharing)

## Process for Suggesting Changes to the Contract Templates

If any changes are needed to any one of the contract templates follow the process below:

1. Create an Contract Update Issue - The template can be found [here](https://gitlab.com/gitlab-com/people-group/people-operations/General/-/blob/master/Contract-Update-Add.md). 
1. Open the relevant contract template, which automatically redirects to its original editable Google Doc.
1. If you have editing rights in the doc, change the document view to "Suggesting" mode (top right corner). If you do not have editing rights, you are able to make a comment on the doc or alternatively ping the People Ops Specialist team for assistance with having the suggestions added to the contract for approval.
1. Any edits that are made will then be made as a suggestion to the contract.
1. Once you have made the required changes, please tag the Senior Manager, People Operations as well as our Director of Legal, Employment to view and approve the relevant changes.
1. Once the changes have been approved, it is important to notify the Candidate Experience Specialist Team to update the contracts in Greenhouse.

**No changes or edits should be made to the contracts without the required approval.**

## Correcting an error in an issued employment contract

1. If an error is noticed, please make the People Operations Team (peopleops@gitlab.com) aware.
1. If the change is payroll relevant The People Operations Specialist makes Total Rewards total-rewards@ gitlab.com and Payroll uspayroll@ gitlab.com or nonuspayroll@ gitlab.com aware.
1. While we all try our best to avoid mistakes, they do happen sometimes and we learn from them. To avoid this mistake from happening in the future The People Operations Specialist notifies the relevant manager to coach their direct report. 
1. The People Operations Specialist creates a new corrected contract using above templates and adds the following sentence in: "This agreement is effective {Hire date} and supersedes the employment agreement dated {date of erroneous agreement}."
  -  Make a copy of the template and save it to the working documents folder on Google Drive to edit
1. The People Operations Specialist creates a [Cover Letter](https://docs.google.com/document/d/1MygLnlmXs2KIUsQZ6jcENVoy4jDeuqij3XV3wQy11VY/edit) explaining the reason for the correction.
  -  Make a copy of the template and save it to the working documents folder on Google Drive to edit
1. Once the new contract and cover letter have been created, ping the People Experience Associate or People Specialist team in the #people_exp_ops slack channel for auditing.
1. Send the audited created documents and any additional details on the correction to Emily Plotkin for review.
1. Once approved by Emily stage the cover letter and new contract in DocuSign and send it for signature first to the Company signatory and subsequently to the team member.
1. Upload the signed documents to the team member's Contracts & Changes folder in BambooHR.
1. If applicable, make any necessary updates to the team member's BambooHR profile and email Total Rewards total-rewards@ gitlab.com and Payroll uspayroll@ gitlab.com or nonuspayroll@ gitlab.com to notify them of the changes.

## United States Employment Status

**[Fair Labor Standards Act](http://www.flsa.com/coverage.html): Exempt v. Non-exempt Employees**

- Nonexempt employees are paid hourly and required to track and report all hours worked. If a non-exempt employee works more than 40 hours during a workweek, they are entitled to overtime pay. Overtime pay must have prior approval from the manager. Nonexempt employees are required to take two paid ten-minute breaks and one unpaid thirty-minute lunch break. As a fully distributed company, nonexempt employees are responsible for taking active ownership in ensuring they take the proper breaks. Please make the People Business Partner aware of circumstances where you feel compelled not to do so.
- Exempt employees are paid on a salaried basis, do not need to track their hours, and are not eligible for overtime pay. These employees must not spend more than 50% of their time doing nonexempt duties to remain exempt.
- For new positions, managers need to ensure the classification of the role is correct before sending an offer letter to the candidate. For guidelines on how to determine if a role is exempt or nonexempt, please reference the "Exempt vs Nonexempt Checklist" (which can be found on the google drive, but is only viewable to managers at GitLab). For positions that already exist, please verify the classification with People Ops Analysts.

## Letter of Adjustment

If a team member changes roles at GitLab and the approval goes through Greenhouse, the process for a Letter of Adjustment is laid out in the [Letter of Adjustment](/handbook/hiring/talent-acquisition-framework/ces-contract-processes/#letter-of-adjustment) section on the CES Contract Processes handbook page.
If a team member changes roles at GitLab and the approval goes through BambooHR, the process for a Letter of Adjustment is laid out in the [Letter of Adjustment](/handbook/people-group/promotions-transfers/#letter-of-adjustment) section on the Promotions & Transfers handbook page.
For other instances such as a [Relocation](/handbook/people-group/employment-solutions/#relocation--address-change), the People Operations Specialist will create a [Relocation letter](/handbook/people-group/relocation/#tasks-for-people-operations) according to the parameters as listed in the [Relocation within the Same Country](/handbook/people-group/relocation/#tasks-for-people-operations) section on the Relocation handbook page.

## Probation Period

Upon joining GitLab, some team members (location-dependent, see the below table for detail about each location) will have a probationary period between 3 and 9 months. Common practice is for contracts in each country to have the maximum allowable probationary period. In case of relocation to a different country or change of contract, if a team member has continued service with GitLab (tenure with GitLab has been uninterrupted) and they have already passed the probationary period of their original location or contract, they do not need to go through the probation period of their new location or contract.
As per the [onboarding process](/handbook/people-group/general-onboarding/onboarding-processes/#adding-a-new-team-member-to-bamboohr) a notification in BambooHR would have been created.

The People Experience Team is responsible for managing the probationary period process internally (communication with the team member, their manager, confirmation of probationary period completion, and updating BambooHR), while the People Operations Specialist Team is responsible for managing relationships with legal counsel externally on a global scale to ensure compliance and iteration.
If an exception request is made to end a probation period early, this should be escalated by the team member's manager to a skip-level and the People Business Partner via email. We will then evaluate the risk, performance and overall reason for the request. Further escalation to Legal might be necessary as well as decision making on how to proceed. There should be no expectation of approval.

### Important steps during the Probation Period

***For Managers***
1. Managers are responsible for monitoring and specifically reviewing performance halfway through the probation period of their direct report.
1. If **underperformance is an issue**, or there is any hesitation regarding the successful completion of a probation period, this should be discussed immediately with the relevant [People Business Partner](/handbook/people-group/#people-business-partner-alignment-to-division).
1. 14 days prior to the end of their direct reports' Probation Period, the manager will receive an email from the People Experience Team, reminding them that their direct reports' probation period is coming to an end.
1. The Hiring Manager will respond confirming their approval of their direct reports' completion of their probation period as well as the scheduled date of their [121](/handbook/leadership/1-1/) to communicate the succesful completion, or that they are in discussions with their People Business Partner.

***For People Experience Team***
1. The People Experience team will be cc'ed on an email that is sent automatically as per the current [email automation](/handbook/people-group/engineering/email-automation/#probation-ending-email)
  - If the email is not automatically sent out, then the People Experience Associate will need to create an issue and assign it to the People Group Engineer to triage.
1. From this email, they will log the team members name, manager's name, and probation period end date in the Probation Period tab of the [People Exp/Ops Task Tracker](https://drive.google.com/drive/search?q=%22people%20exp/ops%20task%20tracker%22)
1. Once the Manager has confirmed that they are satisfied with their direct reports' performance and the date of their 121 to communicate succesful completion, the People Experience Associate will send a [confirmation email](/handbook/people-group/engineering/onboarding/) following the date of the 121 to the team member to notify them that their probation period has been completed. The PEA will cc `people-exp@ gitlab.com` and the manager.
1. The email thread between the People Experience team and the manager should be uploaded to the `Contracts & Changes` folder of the Documents tab of the direct reports' BambooHR profile.
1. If no response is received from the manager after 7 days, the People Experience Team will check in BambooHR if there has been an manager update or change and follow up with a second email and a private message in Slack.
1. If there is still no response after 10 days, the People Experience team will create a private Slack channel including the manager and relevant People Business Partner to get the needed confirmation.
1. If for some reason, a manager is not contacted prior to a team member's probation notice completion, the manager must still be contacted to notify them that a team member's probation period is over, using the relevant [email template](https://gitlab.com/gitlab-com/people-group/General/-/blob/master/.gitlab/email_templates/probation_no_notification.md). This thread must be saved in the team member's BambooHR profile, in their Contracts & Changes folder.

### Probation Periods of Team Members Employed Through a PEO or an Entity

1. If the team member is contracted or employed through one of our PEOs or alternatively an entity, the People Experience Associate will also need to reach out to the appropriate point of contact for that PEO to inform them of the team member's probation period completion. That information is listed in the `Entity & Co-Employer HR Contacts` folder within the 1Password People Ops Vault.

1. If a manager is requesting an extension of a team members probation period who is employed via a PEO, the People Experience Associate will need to send an email to the appropriate point of contact to request an extention of a probation period.
2. Save this email to the BambooHR profile.
3. Update the BambooHR Job Status table with the new probation period.

Current Locations With Probationary Periods:

<% entities_with_prob = data.entity_mapper.select {|entity| entity.fetch('probation_months', 0) > 0}.sort_by {|k, v| k['country']}%>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Probation Period</th>
      <th>Notice during probation</th>
      <th>Notice after probation</th>
    </tr>
  </thead>
  <tbody>
    <% entities_with_prob.each do |entity| %>
      <tr>
        <td><%= entity['country'] %></td>
        <td>
          <%= entity['probation_months'] %> months <%= entity.fetch('probation_extra', '') %>
        </td>
        <td><%= entity.fetch('notice_during_probation', 'N/A') %></td>
        <td><%= entity.fetch('notice_after_probation', 'N/A') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

Locations without Probation Periods:

<% entities_without_prob = data.entity_mapper.select {|entity| entity.fetch('probation', '') === 'None'}.sort_by {|k, v| k['country']}%>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Notice</th>
    </tr>
  </thead>
  <tbody>
    <% entities_without_prob.each do |entity| %>
      <tr>
        <td><%= entity['country'] %></td>
        <td><%= entity.fetch('notice_after_probation', 'N/A') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

## PIAA (Proprietary Information and Assignment Agreement)

GitLab strives to help its team members maintain the ability to work on projects that are unrelated to GitLab’s business, including other open-source projects. Our PIAA does not grant GitLab any rights to any creations that you may make that are not related to GitLab's business or the work you do for GitLab. That is, you are free to develop those creations without requesting approval in advance from GitLab.

If your employment contract was created prior to November 2017, we have created an amendment to the PIAA agreement which can be viewed [here](https://docs.google.com/document/d/1oEfDCIht7Vy6KdcGXWPHZBUXLUUZS9hsvYnOYhQjllg/edit). It amends the 2A section of the PIAA. Please email the People Experience team who will complete and stage the document for signatures. The Amendment will first be signed by our Senior Director, People Success and then the team member.

### Approval for Outside Projects & Activities (AKA Exceptions to PIAA)

Before beginning work on outside projects, second jobs, additional work - paid or unpaid, that could potentially impair your ability to perform your obligations to GitLab or could be deemed a conflict of interest, you must obtain approval in writing from your Manager, and further approval from your leaders as needed, facilitated by the People Experience team. This is also required to those at the offer stage who have yet to start their employment with GitLab.

#### Steps as a current candidate (actively engaged in the hiring process)

1. Once the candidate receives their employment agreement, they will list all outside projects and activities in Exhibit A of the PIAA section.
1. When the Candidate Experience Specialist receives the signed contract, they will review to see if the information was added to Exhibit A of the PIAA or if the candidate entered `No` or `None`. If content was entered, CES will notify the People Experience team in the #people-exp_ces private slack channel with the link to the candidate's Greenhouse profile.
1. The People Experience team will complete the approval process as described in the [onboarding processes](/handbook/people-group/general-onboarding/onboarding-processes/#jobs-tab).

#### Steps as a current team member

1. Team member sends their request via email to their direct manager for approval and copies People Operations team `peopleops@ gitlab.com`. 

**Information needed in the email:**

- Project name (links to relevant website if available)
- Goal of the project/organization
- GitLab clients and/or team members who are involved in the project and scope of their involvement. (If applicable, please include tech stack used)
- Estimated time investment per week (in hours)
- Employment status/role in relation to the outside project (if applicable)

1. The manager will ask any additional questions if necessary. A manager may not approve a request for outside projects or activities for a variety of reasons, including team member performance. If the manager approves, they will then confirm this in the thread and add the applicable Director-level leader to the thread, for their review and approval. If the direct manager is also at a Director-level, they will add the next level leader (VP or C-level as appropriate) to the email thread for review and approval.
1. If the Director/next-level leader feels additional review and approval is needed, they will then add the next level leader (VP or C-level as appropriate) to the email thread. If this is not deemed necessary, the Director/next-level leader will respond indicating their approval.
_Note: A minimum of two leaders must approve all outside projects up to the E-group leader. If the E-group leader is the next level manager, the E-group leader approval is sufficient.  Direct manager and Director-level are the usual levels. If the direct manager is at a Director-level, an additional level must approve._
1. If the next level leader (VP or C-level) feels additional review and guidance is needed, they will add the Team Member Relations Specialist or Director of Legal and any other relevant leader to the thread.
1. If a decision is made to approve and all approvals are documented, the People Operations Specialist will save the entire thread as a pdf to the team member's BambooHR profile in their `Contracts and Changes` folder.
1. If a decision is made to deny, the manager will relay this to the team member, and then will forward the email thread to the People Operations Specialist team at `peopleops@ gitlab.com' to be saved in the team member's BambooHR profile in their `Contracts and Changes` folder.
1. The People Operations Specialist team will then respond confirming receipt and state that the entire thread has been saved in the team member's BambooHR profile.
1. For team members employed in the Netherlands, The People Operations Specialist will state the given in the form of the [Authorization Letter](https://docs.google.com/document/d/1sDIRTqZZu46uiX8McOVuyfPKh-26rTDnQ3xBaoWzNjM/edit). This letter must first be sent to the relevant E-group leader for signature, then to the team member. Once signed, this will be saved in the team member's BambooHR profile in the `Contracts and Changes` folder.

For any approved outside activity in which the GitLab team member will use their GitLab account, this activity must be stored in a separate, personal project. All other work completed as part of their GitLab employment or contract should be stored in a GitLab namespace with a GitLab copyright.

## Contract Renewals

The below process can be used for the following:

- Temporary contract to indefinite contract
- Temporary contract to temporary contract (after the initial contract expires)
- Contract update for invoice purposes due to individual incorporation of an entity
Note: In most cases this process will apply specifically for team members in the Netherlands.

When creating a new contract, if it is to be for 12 months, that timeframe is always to be written as (for example):

- Jan 1, 2010 to Dec 31, 2010
- Feb 20, 2004 to Feb 19, 2005

When renewing a contract, if it is to be for 12 months, the timeframes are at be seen as (for example):

- First 12-month contract starts on June 14, 2019. That entails that the contract ends on June 13, 2020.
- Second 12-month contract will start on June 14, 2020 and end on June 13, 2021.

1. Using the Relocation & Contract Renewal's [tracker](https://docs.google.com/spreadsheets/d/1Z45eOZ2rCRIKgGae3eOKQ8lhIbAPikSs5gLz3V8Kh9U/edit?ts=5e7a2c42#gid=84302455) view the upcoming team member contract expiry date. On the sheet you will see the People Operations Specialist owner, if you are the owner be sure to note the end date and start the below process 2 months before the end date.
1. Take note of the team members details and reach out to the team members manager via email using the following [template](https://gitlab.com/gitlab-com/people-group/General/-/blob/master/.gitlab/email_templates/netherlands_temp_contract_renewal.md), be sure to CC the team members People Business Partner.
1. Once you have received confirmation on next steps from the team members line manager, be sure to save the thread under the team members profile on BambooHR.
1. Using the correct contract template from the [templates folder](https://drive.google.com/drive/u/0/folders/1KlKyfJ0wg42GJHzmRbggVs_pTI0xeJRH) complete with required team member details. These details can be found on the team members BambooHR profile.
1. Do not keep the `Stock Options` line in the Key Terms section, unless additional shares are being given.
1. Be sure to write both the Start date and Birth date of the team member in the **Month DD, YYYY** format to prevent confusion.
1. Remove any wording regarding Probation Period [if applicable](/handbook/people-group/contracts-probation-periods/#probation-period).
1. When you have a completed contract be sure to allow a team member to peer review it for you. This can be done by posting the document link in the People Ops private slack channel. Indicate that you are reviewing it by using the 'Eyes' emoji.
1. Once reviewed, stage the contract for signing in Docusign.
1. Ensure that the GitLab signatory is the first to sign, followed by the team member. This can be done by selecting the assign signing order option.
1. When signed by both parties, save the contract to the team member's BambooHR profile in the Contracts & Changes folder.
1. Update BambooHR to reflect the correct Job Information. Ensure the new contract information is added along with an end date if applicable.
1. Notify the Total Rewards team so that they may audit any BambooHR changes.
1. DE (Germany) contracts only: If no payroll information is on file, send a payroll questionnaire from Docusign. Once completed, upload to BambooHR and email `nonuspayroll@ gitlab.com` to notify.

## Netherlands Renewal Process

1. Two months before the contract ends, HR Savvy will send an email to the People Operations Specialist email address.  
1. The People Operations Specialist Team will check the `Netherlands Renewal tracker` in Google Drive to see if any previous action has been taken or check for notes for the specific team member. 
1. If no action has been taken, the People Operations Specialist sends [an email](https://gitlab.com/gitlab-com/people-group/General/-/blob/master/.gitlab/email_templates/netherlands_temp_contract_renewal.md) to the manager and [People Business Partner](/handbook/people-group/) of the team member, notifiying them that their first 12-month contract is ending.
  -  Set Due Date to give you 3 weeks to stage contract
1. Best practice and procedure at GitLab is to supply a second temporary 12-month contract. After two consecutive year-long temporary contracts, if the team member is in good standing, they are given an Indefinite Agreement beginning at the team member's third year with the company.
1. The Manager has then 3 weeks to evaluate the performance of the team member and discuss the planned course of action with the [People Business Partner](/handbook/people-group/)
1. At least 1 month before the end of the contract, the manager informs the People Operations team on whether to extend the contract and for what term.
1. At least 1 month before the end of the contract, the manager informs the team member of the extension or not. The [People Business Partner](/handbook/people-group/) can help with providing guidance on the messaging.
1. The People Operations Specialist team documents the emails in the Contracts & Changes folder in BambooHR.
1. If the contract extension is approved, the People Operations Specialist team creates the contract and stages it via Docusign for the team member and Senior Director, People Success (on behalf of CPO if there is no current CPO) to sign.
1. Do not keep the `Stock Options` line in the Key Terms section, unless additional shares are being given.
1. Be sure to write both the Start date and Birth date of the team member in the **Month DD, YYYY** format to prevent confusion.
1. Check whether the team member is currently paid the holiday allowance monthly. If yes, confirm with the team member whether we can update to yearly. If the team member agrees to update, ensure to update pay frequency. If no, confirm okay with Legal - Employment and ensure to add correct wording to this effect in new contract.
1. Remove any wording regarding Probation Period [if applicable](/handbook/people-group/contracts-probation-periods/#probation-period).
1. Note: A second [probation period](/handbook/people-group/contracts-probation-periods/#probation-period) should only be implemented if the team member's new contract reflects the start of an [entirely new role](https://wsadvocaten.nl/probationary-period-netherlands-dutch-law/). If the contract is simply a continuation of employment in the current role, a second probation period should not be applied.
1. The People Operations Specialist Team will then password-protect the signed contract and email it to info@hr-savvy.com.
- To password protect on MAC: Download the document > open finder > right click > open with > preview
- Click: file (top of your screen) > export as pdf > click: show details > tick: encrypt 
- Password: {{add new password}} > save


Note: A team member cannot have more than three temporary contracts with the same employer in a row. If a fourth contract is offered by GitLab then it must be a permanent one.

<i>**Important**</i>: Best practice for team members in the Netherlands is to issue two consecutive 1-year Temporary Contracts prior to moving to an indefinite contract. After the completion of two consecutive 1-year Temporary Contracts, we move to the indefinite contract. Should a team member request an indefinite employment contract after the initial 1-year Temporary Contract, approval via email should be requested based on performance from the team member's manager as well as the People Business Partner and a Division leader.

## CXC Contract Renewal

CXC contracts are issued on a yearly basis, with contracts expiring after one year. CXC remains the responsible PEO for ensuring the contract renewal is completed for each team member.

- CXC will make contact with team members 2 weeks before their contracts are due to expire.
- CXC will create renewal contract and send for signing to the relevant team members.
- Once signed, CXC will send the renewed contract to GitLab.
- The People Operations Specialist will update the relevant employment status to the renewed dates in BambooHR and file the renewed contract in the `Contracts & Changes` folder.
- Go to the Job tab in BambooHR, scroll down to Employment Status and click: + Update employment status
- effective date: date contract starts > employment status: CXC contract > comment: 12-month CXC rolling contract (2021-02-01 to 2022-01-31) > save
- Then add another status > click: + Update employment status > effective date: end of the contract date > employment status: CXC contract ending > save

Standard practice is to automatically renew CXC contracts. The [offboarding process](https://about.gitlab.com/handbook/people-group/offboarding/) will apply should a team member be terminated voluntarily or involuntarily.


