---
layout: handbook-page-toc
title: "Top Misused Terms - GitLab Communication"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}
<%
misused_terms_list = Gitlab::Homepage::MisusedTerm.all!
%>

## List of Top Misused Terms

Below are terms people frequently use when they should use another term.

<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th class="misused-avoid">
          Misused terms
        </th>
        <th class="misused-use-instead">
          Alternatives
        </th>
        <th class="misused-reason">
          Reason Why
        </th>
      </tr>
    </thead>
    <tbody>
    <%
      misused_terms_list.each do |term| %>
      <tr id="<%= term.id %>">
        <td class="misused-avoid">
          <% term.avoid.each do |avoid_item| %>
            <%= kramdown(avoid_item) %>
          <% end %>

          <% if term.avoid_footnote.present? %>
            <p><small><%= term.avoid_footnote %></small></p>
          <% end %>
          <a href="#<%= term.id %>" class="misused-permalink" title="Link to this term">permalink to <%= term.avoid.first %></a>
        </td>

        <td class="misused-use-instead">
          <% term.use_instead.each do |alternative| %>
            <%= kramdown(alternative) %>
          <% end %>
        </td>

        <td class="misused-reason">
          <%= kramdown(term.reason) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- leave this section at the bottom of the page -->
---
<details>
  <summary>Export: List of terms to avoid</summary>

  <p>Please note: some terms might've been excluded from exports.</p>

  <textarea class="misused-export"><%
  terms_to_export = misused_terms_list.select { |term| term.exclude_from_exports.blank? || term.exclude_from_exports === false }
  terms_to_export.each_with_index do |term, i| %><%
  term.avoid.each_with_index do |avoid_item, j| %><%= avoid_item.strip %><%= j < term.avoid.size - 1 ? ", " : "" %><% end %><%= i < terms_to_export.size - 1 ? ", " : "" %><% end %></textarea>
</details>
