---
layout: handbook-page-toc
title: "Protect Sub-department Performance Indicators"
description: "Lists the Performance Indicators for GitLab's Protect sub-department"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Performance Indicators

These charts show metrics filtered for the [Protect sub-department](/handbook/engineering/development/protect).

### Development indicators
(<a href="https://app.periscopedata.com/app/gitlab/681347/MR-Metrics-by-Organization" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/dev_dashboard.erb", locals: { filter_type: 'team_group', filter_value: 'container security' } %>

### Quality indicators
(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/quality_dashboard.erb", locals: { filter_type: 'team_group', filter_value: 'container security' } %>

### UX indicators
(<a href="https://app.periscopedata.com/app/gitlab/736036/UX-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/ux_dashboard.erb", locals: { filter_type: 'team_group',filter_value: 'container security' } %>

### Security indicators
(<a href="https://app.periscopedata.com/app/gitlab/758795/Appsec-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/security_dashboard.erb", locals: { filter_type: 'team_group', filter_value: 'container security' } %>

### Infrastructure indicators
(<a href="https://app.periscopedata.com/app/gitlab/798401/Infrastructure-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/infrastructure_dashboard.erb", locals: { filter_type: 'team_group', filter_value: 'container security' } %>
